*{
    margin: 0%;
    padding: 0%;
    box-sizing:border-box;
}

nav{
    background-color: #223E7F;
    height: 75px;
}

body{
    background-color: lightblue;
}

main{
    width: 100%;
    height: 200vh;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  main{
    height: 300vh;
    }
  }

.textoverpic{
    position: relative;
    font-family: Arial;
    height: 250px;
    width: 100%;
}

.textimg{
    position: absolute;
    bottom: 20px;
    background-color: #5678C5;
    color: white;
    margin-left: 600px;
    width: 20%;
    text-align: center;
}

.textbog1{
    width: 70%;
    height: auto;
    margin-left: 220px;
    margin-top: 50px;
    background-color: #acc1f1;
    padding: 20px;
}

.naam{
    font-family: 'Pushster', cursive;
    float: right;
    padding-right: 350px;
    padding-top: 80px;
    font-size: 50px;
    transform: rotate(-5deg);
}

.textbol{
    margin-left: 50px;
    padding-top: 15px;
}

.prestaties-titel{
    margin-left: 50px;
    margin-bottom: 10px;
    padding-top: 20px;
}

table{
    margin-left: 50px;
    padding-bottom: 20px;
}

td, th {
    border: 1px solid #000000;
    text-align: left;
    padding-left:5px;
    padding-right: 5px;
  }

  .projectfotos{
      width: 300px;
      height: 200px;
  }

  .cv{
      padding: 5px;
      padding-left: 10px;
      padding-right: 10px;
      margin-left: 50px;
      border-radius: 5px;
      background-color: #7DF9FF;
  }

  .contactstuk{
      background-color: black;
      color: white;
  }

  .stukcontact{
      padding: 20px;
  }

  #myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }

  #myImg:hover {opacity: 0.7;}

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
  }

  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }

  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }

  .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }

  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }

  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }

  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }

  .close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
}